.btn-confirm {
  margin-top: 5px;
}

textarea {
  margin-top: 10px;
  width: 90%;
  height: 200px;
}

p.spinner_text {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 1.5em;
  font-size: italic;
}

select {
  width: 300px;
}

.comment-form {
  display: none;
}
